[Unit]
Description=MyIP Exporter

[Service]
Type=simple
Restart=on-failure
ExecStart=/usr/local/myip_exporter/venv/bin/python3 /usr/local/myip_exporter/myip_exporter.py

[Install]
WantedBy=multi-user.target
